parameters:
	ignoreErrors:
		-
			message: "#^Negated boolean expression is always false\\.$#"
			count: 1
			path: includes/admin/class-settings-wizard.php

		-
			message: "#^Variable \\$menu_page might not be defined\\.$#"
			count: 1
			path: includes/admin/settings/class-settings-api.php

		-
			message: "#^Access to an undefined property WP_Query\\:\\:\\$post_scores\\.$#"
			count: 1
			path: includes/class-better-search-core-query.php

		-
			message: "#^Access to an undefined property WP_Query\\:\\:\\$topscore\\.$#"
			count: 3
			path: includes/class-better-search-core-query.php

		-
			message: "#^Cannot access property \\$blog_id on int\\|WP_Post\\.$#"
			count: 3
			path: includes/class-better-search-core-query.php

		-
			message: "#^Cannot access property \\$score on int\\|WP_Post\\.$#"
			count: 3
			path: includes/class-better-search-core-query.php

		-
			message: "#^Negated boolean expression is always false\\.$#"
			count: 1
			path: includes/class-tracker.php

		-
			message: "#^Property WP\\:\\:\\$query_vars \\(array\\) in isset\\(\\) is not nullable\\.$#"
			count: 1
			path: includes/class-tracker.php

		-
			message: "#^Result of \\|\\| is always false\\.$#"
			count: 1
			path: includes/class-tracker.php

		-
			message: "#^Variable \\$wp in empty\\(\\) always exists and is not falsy\\.$#"
			count: 1
			path: includes/class-tracker.php

		-
			message: "#^Parameter \\#2 \\$array of function implode expects array\\<string\\>, array\\<int\\<0, max\\>, string\\|WP_Error\\> given\\.$#"
			count: 1
			path: includes/general-template.php

		-
			message: "#^Variable \\$a might not be defined\\.$#"
			count: 2
			path: includes/heatmap.php

		-
			message: "#^Constant DB_NAME not found\\.$#"
			count: 1
			path: includes/pro/class-fuzzy-search.php

		-
			message: "#^Negated boolean expression is always false\\.$#"
			count: 3
			path: includes/pro/class-fuzzy-search.php

		-
			message: "#^Property Better_Search_Core_Query\\:\\:\\$match_sql \\(string\\) in isset\\(\\) is not nullable\\.$#"
			count: 1
			path: includes/pro/class-fuzzy-search.php

		-
			message: "#^Access to an undefined property WP_Post\\:\\:\\$blog_id\\.$#"
			count: 3
			path: includes/pro/class-multisite-search.php

		-
			message: "#^Access to an undefined property WP_Query\\:\\:\\$topscore\\.$#"
			count: 1
			path: includes/pro/class-multisite-search.php

		-
			message: "#^Cannot access property \\$blog_id on int\\|WP_Post\\.$#"
			count: 1
			path: includes/pro/class-multisite-search.php

		-
			message: "#^Cannot access property \\$match_index on int\\|WP_Post\\.$#"
			count: 3
			path: includes/pro/class-multisite-search.php

		-
			message: "#^Cannot access property \\$score on int\\|WP_Post\\.$#"
			count: 1
			path: includes/pro/class-multisite-search.php

		-
			message: "#^Class PLL_Frontend_Filters not found\\.$#"
			count: 1
			path: includes/pro/class-multisite-search.php

		-
			message: "#^Constant DB_NAME not found\\.$#"
			count: 1
			path: includes/pro/class-multisite-search.php

		-
			message: "#^Variable \\$query in empty\\(\\) always exists and is not falsy\\.$#"
			count: 1
			path: includes/pro/class-pro.php

		-
			message: "#^Variable \\$cache_key might not be defined\\.$#"
			count: 1
			path: includes/pro/custom-tables/class-posts-search.php

		-
			message: "#^Access to an undefined property Better_Search_Query\\:\\:\\$topscore\\.$#"
			count: 1
			path: templates/better-search-template.php

		-
			message: "#^Variable \\$post might not be defined\\.$#"
			count: 7
			path: templates/better-search-template.php
