parameters:
	ignoreErrors:
		-
			message: "#^Negated boolean expression is always false\\.$#"
			count: 1
			path: includes/admin/class-settings-wizard.php

		-
			message: "#^Access to an undefined property WP_Query\\:\\:\\$post_scores\\.$#"
			count: 1
			path: includes/class-better-search-core-query.php

		-
			message: "#^Access to an undefined property WP_Query\\:\\:\\$topscore\\.$#"
			count: 6
			path: includes/class-better-search-core-query.php

		-
			message: "#^Access to an undefined property WP_Post\\:\\:\\$blog_id\\.$#"
			count: 3
			path: includes/class-better-search-core-query.php

		-
			message: "#^Access to an undefined property WP_Post\\:\\:\\$score\\.$#"
			count: 3
			path: includes/class-better-search-core-query.php

		-
			message: "#^Negated boolean expression is always false\\.$#"
			count: 1
			path: includes/class-tracker.php

		-
			message: "#^Property WP\\:\\:\\$query_vars \\(array\\) in isset\\(\\) is not nullable\\.$#"
			count: 1
			path: includes/class-tracker.php

		-
			message: "#^Result of \\|\\| is always false\\.$#"
			count: 1
			path: includes/class-tracker.php

		-
			message: "#^Variable \\$wp in empty\\(\\) always exists and is not falsy\\.$#"
			count: 1
			path: includes/class-tracker.php

		-
			message: "#^Access to an undefined property Better_Search_Query\\:\\:\\$topscore\\.$#"
			count: 1
			path: includes/frontend/templates/better-search-template.php

		-
			message: "#^Variable \\$post might not be defined\\.$#"
			count: 7
			path: includes/frontend/templates/better-search-template.php

		-
			message: "#^Variable \\$a might not be defined\\.$#"
			count: 2
			path: includes/heatmap.php
