includes:
	- phpstan-baseline.neon
parameters:
    level: 5
    paths:
        - better-search.php
        - uninstaller.php
        - load-freemius.php
        - includes/
    scanDirectories:
        - includes/
        - vendor/freemius/
    scanFiles:
        - better-search.php
        - uninstaller.php
        - vendor/php-stubs/acf-pro-stubs/acf-pro-stubs.php
    bootstrapFiles:
        - phpstan-bootstrap.php
    ignoreErrors:
