#bsearchform {
	margin: 20px;
	padding: 20px;
}
#heatmap {
	margin: 20px;
	padding: 20px;
	border: 1px dashed #ccc
}
.bsearch_results_page {
	max-width:90%;
	margin: 20px;
	padding: 20px;
}
.bsearch_footer {
	text-align: center;
}
.bsearch_highlight {
	background:#ffc;
}
